<div class="panel panel-default">
  <div class="panel-heading"><h2>New Employee</h2></div>
  <div class="panel-body">

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to "Back to employees", employees_path %>
</div>
  </div>
</div>
