<div class="jumbotron">
<h1>Hello</h1>
<h2>Welcome to the Employee Onboarder</h2>

<%= link_to 'Onboard Employee', new_employee_path, class: 'btn btn-default btn-lg'%>
<%= link_to 'Home', root_path, class: 'btn btn-primary'%>

</div>

